# Database Configuration
DB_NAME=talentika_dev
DB_USER=talentika_user
DB_PASSWORD=talentika_password
DB_HOST=localhost
DB_PORT=5438

# Django Configuration
DEBUG=True
SECRET_KEY=django-insecure-+q^i)fe^yw6d1b^4f$q_2%xq%1nbv&7@a!@o2rf-t5-=8^^*f+
ALLOWED_HOSTS=localhost,127.0.0.1
